.companyLogo {
  margin-left: 5%;
  float: left;
  height: 8em;
  width: 8em;
}

:host ::ng-deep .p-button {
  margin-right: 10em;
  float: right;
}

h3 {
  float: left;
}

.tabbed {
  margin-left: 5%;
}

.add {
  float: left;
  margin-left: 2em;
}

.edit {
  margin-right: 2em;
}

#company-profile {
  height: 93.9vh;
}
