.companyLogo {
  margin-left: 5%;
  float: left;
  height: 8em;
  width: 8em;
}

#filters,
#job-list {
  min-height: 90vh;
  overflow-y: scroll;
}

:host ::ng-deep {
  .p-orderlist-controls {
    display: none;
  }
}

.reviews-box {
  margin: 0 auto;
  height: 600px;
  border-radius: 10px;
  border: 2px solid rgb(130, 125, 125);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  background-color: rgb(125, 120, 120);
  margin: 10;
  width: 101%;
  margin-left: -2px;
  box-sizing: border-box;
  z-index: 2;
}

.review-box {
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li {
  list-style-type: none;
  padding: 10px;
  border-top: 1px solid rgba(209, 201, 201, 0.7);
  font-size: 18px;
}

#statistics {
  min-height: 93.9vh;
}
