<div class="container-fluid text-white bg-dark">
  <div class="row">
    <div class="col-5">
      <div id="jobApplicationList">
        <p-orderList
          header="Job Applications"
          [value]="jobApplications"
          (onSelectionChange)="onSelectionChange($event)"
          [listStyle]="{ height: 'auto' }"
          filterBy="userDetails.lastName"
          filterPlaceholder="Filter by last name"
        >
          <ng-template let-jobApplication pTemplate="item">
            <div class="product-item">
              <div class="product-list-detail">
                <app-user-preview
                  [userId]="jobApplication?.userId"
                ></app-user-preview>
              </div>
              <h5>{{ jobApplication?.status?.name }}</h5>
            </div>
          </ng-template>
        </p-orderList>
      </div>
    </div>
    <div *ngIf="selectedJobApplication" class="col-7">
      <p-button label="View Profile" (click)="viewProfile()"></p-button>
      <h4>
        This application was last updated on
        {{ selectedJobApplication?.formattedUpdatedAt }}
      </h4>
      <h4>Current Status: {{ selectedJobApplication?.status?.name }}</h4>
      <p-splitButton
        *ngIf="selectedJobApplication?.status?.name != 'WITHDRAWN'"
        label="Change Status"
        icon="pi pi-plus"
        [model]="statusItems"
      ></p-splitButton>

      <p-confirmDialog
        [style]="{ width: '25vw' }"
        [baseZIndex]="10000"
      ></p-confirmDialog>
      <br />
      <br />
      <div class="chat-box">
        <div class="header">
          <h4>&nbsp; Messages</h4>
        </div>
        <div #scrollMe class="message-box">
          <li
            *ngFor="
              let message of selectedJobApplication.messageList;
              let i = index
            "
          >
            <strong *ngIf="user.id == message.userId"> You,</strong>
            <strong *ngIf="user.id != message.userId">
              {{ selectedJobApplication.userDetails?.lastName }}
              {{ selectedJobApplication.userDetails?.firstName }},</strong
            >
            {{ message.formattedTimestamp }}
            <br />
            {{ message.content }}
          </li>
        </div>
        <section>
          <textarea
            pInputTextarea
            [(ngModel)]="textareaValue"
            placeholder="write a message"
          ></textarea>
          <p-button (click)="sendMessage()" label="Send"></p-button>
        </section>
      </div>
    </div>
  </div>
</div>
