<p-fieldset legend="Job details" [toggleable]="true" collapsed="true">
  <app-job-details [job]="jobApplication?.jobDetails"></app-job-details>
</p-fieldset>
<br />
<h4>Last updated on {{ jobApplication?.formattedUpdatedAt }}</h4>
<h4>Current Status: {{ jobApplication?.status?.name }}</h4>
<p-confirmDialog
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<p-button
  *ngIf="jobApplication?.status?.name != 'WITHDRAWN'"
  (click)="onClickWithdraw()"
  icon="pi pi-times"
  label="Withdraw"
></p-button>
<br />
<br />
<p-fieldset legend="Recruiter Review" [toggleable]="true" collapsed="true">
  <h6 *ngIf="jobApplication?.review">
    Rating: {{ jobApplication?.review.rating }} / 5
  </h6>
  <h6 *ngIf="jobApplication?.review">
    Description: {{ jobApplication?.review.description }}
  </h6>
  <p-button (click)="showReviewForm()" label="Edit"></p-button>
</p-fieldset>
<br />
<p-fieldset legend="Files" [toggleable]="true" collapsed="true">
  <div *ngFor="let fileData of jobApplication?.fileList">
    <a class="hover" (click)="downloadFile(fileData)">{{
      fileData.filename
    }}</a>
  </div>
  <br />
  <p-fileUpload
    [fileLimit]="1"
    [showUploadButton]="false"
    [maxFileSize]="1000000"
    method="put"
    name="file"
  >
  </p-fileUpload>
  <p-button
    (click)="uploadFile()"
    label="Upload"
    styleClass="p-button-text"
  ></p-button>
</p-fieldset>
<br />
<div class="chat-box">
  <div class="header">
    <h4>&nbsp; Messages</h4>
  </div>
  <div #scrollMe class="message-box">
    <li *ngFor="let message of jobApplication.messageList; let i = index">
      <strong *ngIf="user.id == message.userId"> You,</strong>
      <strong *ngIf="user.id != message.userId"> Recruiter,</strong>
      {{ message?.formattedTimestamp }}
      <br />
      {{ message?.content }}
    </li>
  </div>
  <section>
    <textarea
      pInputTextarea
      [(ngModel)]="textareaValue"
      placeholder="write a message"
    ></textarea>
    <p-button (click)="sendMessage()" label="Send"></p-button>
  </section>
</div>

<p-dialog
  [(visible)]="displayReviewForm"
  [style]="{ width: '30vw', height: '20vw' }"
  [baseZIndex]="10000"
>
  <h4>Rating</h4>
  <div>
    <p-inputNumber [(ngModel)]="inputRating" [min]="0" [max]="5">
    </p-inputNumber>
    / 5
  </div>
  <br />
  <h4>Description</h4>
  <textarea
    rows="20"
    cols="40"
    pInputTextarea
    [(ngModel)]="inputDescription"
  ></textarea>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="Save"
      (click)="saveReview()"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayReviewForm = false"
      label="Cancel"
    ></p-button>
  </ng-template>
</p-dialog>
