<div *ngIf="company">
  <div id="company-profile" class="container-fluid text-white bg-dark">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <br />
        <div class="row">
          <div class="col-3">
            <img
              src="{{ company.photo }}"
              class="companyLogo"
              alt="companyLogo"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <h1>{{ company.name }}</h1>
            <h3>{{ company.city.name }}, {{ company.country.name }}</h3>
            <p-button>Visit website</p-button>
          </div>
        </div>
        <br />
        <br />
        <p-fieldset legend="About" [toggleable]="true">
          <p>{{ company.description }}</p>
        </p-fieldset>
        <br />
        <br />
        <h3>Industries</h3>
        <div class="flex-container">
          <div *ngFor="let companyIndustry of companyIndustries">
            <p-card
              header="{{ companyIndustry.industry.name }}"
              [style]="{ width: '20rem', 'margin-bottom': '2em' }"
            >
              <ng-template pTemplate="footer">
                <p-button
                  label="Follow"
                  (click)="onClickFollow()"
                  icon="pi pi-check"
                ></p-button>
                <p-button
                  label="View Jobs"
                  (click)="onClickViewJobs()"
                  styleClass="p-button-secondary"
                  [style]="{ 'margin-left': '.5em' }"
                ></p-button>
              </ng-template>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
