<div class="container-fluid text-white bg-dark">
  <div class="row">
    <div class="col-3">
      <h3>Filters</h3>
      <div id="filters">
        <h5>Title</h5>
        <input type="text" pInputText [(ngModel)]="title" />
        <br />
        <br />
        <h5>Country</h5>
        <p-multiSelect
          [options]="countries"
          [showToggleAll]="false"
          [(ngModel)]="selectedCountries"
          (onChange)="onChangeCountry($event)"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>City</h5>
        <p-multiSelect
          [options]="cities"
          [showToggleAll]="false"
          [(ngModel)]="selectedCities"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-city pTemplate="item">
            <div class="city-item">
              <div>{{ city.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>Company</h5>
        <p-multiSelect
          [options]="companies"
          [showToggleAll]="false"
          [(ngModel)]="selectedCompanies"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-company pTemplate="item">
            <div class="company-item">
              <div>{{ company.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>Industry</h5>
        <p-multiSelect
          [options]="industries"
          [showToggleAll]="false"
          [(ngModel)]="selectedIndustries"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-industry pTemplate="item">
            <div class="industry-item">
              <div>{{ industry.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>Work Type</h5>
        <p-multiSelect
          [options]="workTypes"
          [showToggleAll]="false"
          [(ngModel)]="selectedWorkTypes"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-workType pTemplate="item">
            <div class="workType-item">
              <div>{{ workType.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>Job Type</h5>
        <p-multiSelect
          [options]="jobTypes"
          [showToggleAll]="false"
          [(ngModel)]="selectedJobTypes"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-jobType pTemplate="item">
            <div class="jobType-item">
              <div>{{ jobType.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>Experience Level</h5>
        <p-multiSelect
          [options]="experienceLevels"
          [showToggleAll]="false"
          [(ngModel)]="selectedExperienceLevels"
          optionLabel="name"
          [virtualScroll]="true"
          [filter]="true"
          [itemSize]="34"
          class="multiselect-custom-virtual-scroll"
        >
          <ng-template let-experienceLevel pTemplate="item">
            <div class="experienceLevel-item">
              <div>{{ experienceLevel.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
        <br />
        <br />
        <h5>Description</h5>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="description"
        ></textarea>
        <br />
        <br />
        <h5>Posted since</h5>
        <p-calendar
          inputId="basic"
          dateFormat="d M yy"
          [maxDate]="currentDate"
          [readonlyInput]="true"
          [(ngModel)]="postedSince"
        ></p-calendar>
        <br />
        <br />
        <p-button
          label="Filter"
          icon="pi pi-search"
          (onClick)="onClickFilter()"
        ></p-button>
        <p-button
          label="Clear Filters"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '1em' }"
          (onClick)="onClickClearFilters()"
        ></p-button>
        <br />
        <br />
      </div>
    </div>
    <div class="col-4">
      <h3>Jobs</h3>
      <div id="job-list">
        <p-paginator
          #paginator
          [first]="maxJobs"
          [rows]="maxJobs"
          [totalRecords]="totalElements"
          (onPageChange)="onPageChange($event)"
          [showPageLinks]="true"
        ></p-paginator>
        <div *ngIf="jobs.length === 0 && !isLoading">
          <p>No results found.</p>
        </div>
        <div *ngIf="isLoading">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-template ngFor let-job [ngForOf]="jobs">
          <div (click)="setSelectedJob(job)" class="job-preview">
            <br />
            <app-job-preview [job]="job"></app-job-preview>
            <br />
          </div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="selectedJob" class="col-5" id="job-details">
      <h3>Job Details</h3>
      <app-job-details [job]="selectedJob"></app-job-details>
    </div>
  </div>
</div>
